html, body {
    min-height: 100%;
}


body{
    min-height: 100%;
    max-width: 100vw;
    background: linear-gradient(45deg, #FFC964 50%, #06C4CE 50%);
}

a{
    color: inherit;
}


.cont{
    max-width:90vw;
    min-height:90vh;
    background-color: white;
    box-shadow: 0 0 30px grey;
    margin-top:5vh;
    box-sizing:content-box;
    padding:0;
    display:flex;
    flex-direction: column;
    Overflow: hidden;
}

.bigBox{
    display: flex;
    flex-grow: 1;
    background-image: url(./heaven.svg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover
}

.console{
    background: rgb(6, 196, 206) ;
    padding: 30px;
    /* padding-left: 60px; */
    font-size: 20px;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    color: white;
}

li a:hover {
    color: #FFC964;
}

.bar{
    width: 100%;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler{
    border:0px;
}

.content{
    flex: 2;
    display: flex;
    flex-direction: column;
    min-width: 90vw;
    height: 100%;
    padding: 50px;

}

@keyframes button {
    from {background-color: rgb(236, 236, 236);}
    to {background-color: white;}
}

#menu-toggle-div{
    font-size: 30px;
}

#console-menu {
    width:305px;
}

.hidden{
    margin-left: -365px;
}

@media screen and (max-width: 768px) {
    .character {
        margin: 0 auto 0 auto !important;
    }   
}

#menu-toggle-div{
    font-size: 30px;
    margin-right: 1rem;
}

canvas #pieChart {
    max-height: 600px
}

.pet{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.petInfo {
    margin-top: 25px;
    background-color: rgb(255, 185, 55);
    text-align: center;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    border: thick solid rgb(255, 145, 0);
    box-shadow: 0 0 5px gray;
    padding: 3px;
    font-weight: bold;
}

/* @media screen and (min-width: 990px) { */
    .frame{
        margin: 10px;
        background-color: rgba(0, 0, 0, 0.315);
        padding: 30px;
        border-radius: 20px;
        text-align: center;
        color: white;
        box-sizing: border-box;
        border: thick solid black;
        box-shadow: 0px 0px 15px lightgray;
        max-width: 200px;
        position: relative;
        z-index: 1;  
        margin-bottom: 40px;
    }
/* }  */

/* @media screen and (max-width: 990px) {
    .pet-img{
        width: 100px;
        margin: 10px;
        background-color: rgba(0, 0, 0, 0.315);
        padding: 30px;
        border-radius: 20px;
        text-align: center;
        color: white;
        box-sizing: border-box;
        box-shadow: 0px 0px 15px lightgray;
        border: thick solid black;
    }
} */

.wreath{
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.navbar-brand img{
    width: 150px;
    height: 50px;
}

.fa-ellipsis-v {
    color: #FFC964
}

.fa-ellipsis-v:active, .fa-ellipsis-v:focus {
    color: #06C4CE;
}

.btn-outline-success {
    background: #FFC964;
    border: none;
    border: solid 1px #FFC964;
    border-radius: 8px;
    margin: 4px;
    color: white;
}

.btn-outline-success:hover {
    color: #FFC964;
    background: #FFFFFF;
    border: solid 1px #FFC964;
    
}

.btn-outline-success:focus, .btn-outline-success:not(:disabled):not(.disabled):active {
    color: #FFFFFF;
    background-color: #ffa600;
    border-color: #ffa600;
    box-shadow: 0 0 0 0.2rem rgba(255, 166, 0, 0.5);
}

#usernameDiv img  {
    border-radius: 50px;
    margin: 2px
}

#usernameDiv {
    margin: 0 10px 0 10px;
}