html, body {
    min-height: 100%;
}


body{
    min-height: 100%;
    max-width: 100vw;
    background: linear-gradient(45deg, #FFC964 50%, #06C4CE 50%);
}

a{
    color: inherit;
}

.content{
    min-width: 90vw;
}

.cont{
    max-width:90vw;
    min-height:90vh;
    background-color: white;
    box-shadow: 0 0 30px grey;
    margin-top:5vh;
    box-sizing:content-box;
    padding:0;
    display:flex;
    flex-direction: column;
    Overflow: hidden;
}

.bigBox{
    display: flex;
    flex-grow: 1;
}

#console-menu {
    width:305px;
}

.console{
    background: rgb(6, 196, 206) ;
    padding: 30px;
    /* padding-left: 60px; */
    font-size: 20px;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    color: white;
}

li a:hover {
    color: #FFC964;
}

.bar{
    width: 100%;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler{
    border:0px;
}

.content{
    min-width:90vw;
}

/* .content{
    flex: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
} */

@keyframes button {
    from {background-color: rgb(236, 236, 236);}
    to {background-color: white;}
}

#menu-toggle-div{
    font-size: 30px;
}


.hidden{
    margin-left: -365px;
}

@media screen and (max-width: 768px) {
    .character {
        margin: 0 auto 0 auto !important;
    }   
}

#menu-toggle-div{
    font-size: 30px;
    margin-right: 1rem;
}

.navbar-brand img{
    width: 150px;
    height: 50px;
}

.fa-ellipsis-v {
    color: #FFC964
}

.fa-ellipsis-v:active, .fa-ellipsis-v:focus {
    color: #06C4CE;
}

.btn-outline-success {
    background: #FFC964;
    border: none;
    border: solid 1px #FFC964;
    border-radius: 8px;
    margin: 4px;
    color: white;
}

.btn-outline-success:hover {
    color: #FFC964;
    background: #FFFFFF;
    border: solid 1px #FFC964;
    
}

.btn-outline-success:focus, .btn-outline-success:not(:disabled):not(.disabled):active {
    color: #FFFFFF;
    background-color: #ffa600;
    border-color: #ffa600;
    box-shadow: 0 0 0 0.2rem rgba(255, 166, 0, 0.5);
}

.chartAreaA, .chartAreaB {
    display: flex;
    justify-content: center;
    background-color: rgb(236, 236, 236, 0.7);
    border-radius: 10px;
    padding: 5px 0 7px 0;
    margin-bottom: 10px;
    text-shadow: 2px 3px 1px white;
}

.chart-title {
    text-align: center;
    margin-top: 20px;
    color: #ffa600;
}

.bigBox > .container-fluid {
    background-image: url(./wallpaper-bg-only.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h6 {
    color: white !important;
}

.reportDayBox {
    margin-top: 20px;
    color: white;
    width: 100%;
    background: rgb(6,146,206,0.7);
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
}

.dayTo {
    margin-top: 10px;
}

.btn-primary {
    background: #FFC964;
    border: none;
    border: solid 1px #FFC964;
    border-radius: 8px;
    margin: 4px;
    color: white;
}

.btn-primary:hover {
    color: #FFC964;
    background: #FFFFFF;
    border: solid 1px #FFC964;
    
}

.btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled):active:focus {
    color: #fff;
    background-color: rgb(255,124,100);
    border-color: rgb(255,124,100);
    box-shadow: 0 0 0 0.2rem rgb(255,124,100, 0.5);
}

h5 {
    margin-top: 5px
}

.dataByDay {
    margin-top: 10px;
}

.img-logo {
    display: flex;
    justify-content: center;
    padding: 10px 0 15px 0;
}

#usernameDiv img  {
    border-radius: 50px;
    margin: 2px
}

#usernameDiv {
    margin: 0 10px 0 10px;
}