html, body {
    min-height: 100%;
}

body{
    min-height: 100%;
    max-width: 100vw;
    background: linear-gradient(45deg, #FFC964 50%, #06C4CE 50%);
}

a{
    color: inherit;
}

#menu-toggle-div{
    font-size: 30px;
    margin-right: 1rem;
}

#console-menu {
    width:305px;
}

.navbar-toggler{
    border:0px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.cont{
    max-width:90vw;
    min-height:90vh;
    background-color: white;
    box-shadow: 0 0 30px grey;
    margin-top:5vh;
    box-sizing:content-box;
    padding:0;
    display:flex;
    flex-direction: column;
    Overflow-x: hidden;
}

.bigBox{
    display: flex;
    flex-grow: 1;
}

.btn.btn-outline-success{
    margin-top:0.2rem !important;
}

.console{
    background: rgb(6, 196, 206) ;
    padding: 30px;
    /* padding-left: 60px; */
    font-size: 20px;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    color: white;
}

li a:hover {
    color: #FFC964;
}

.bar{
    width: 100%;
}

.hidden{
    margin-left: -365px;
}

.content{
    min-width:90vw;
    /* position:relative; */
}

.reset-but{
    position: absolute;
    top:10px;
    left: 10px;
    display: none;
}

.pet{
    width: 100%;
    height: 45vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./living-room-01.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.navbar-brand{
    margin: 0;
}

th{
    text-align: center;
}

.information{
    width: 100%;
    height: 50%;
    display: flex;
}

.buttonGroup{
    width: 50%;

}

.inputButton{
    background-color: rgb(236, 236, 236);
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

.inputButton img{
    height:  20px;
    margin: 0;
}

@keyframes button {
    from {background-color: rgb(236, 236, 236);}
    to {background-color: white;}
  }

.button{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    width: 75px;
    height: 60px;
    margin: 2px;
    background-color: rgb(236, 236, 236) ;
}

.category{
    font-size: 10px;
    word-break: break-all;
}

.button:hover{
    animation-name: button;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.recordSheet{
    background-color: white;
    width: 50%;
    height: 50%;
}

/* .pet img{
    width: 250px;
} */

.table img{
    height: 20px;
}

.active-button{
    background-color: white;
}

.record{
    padding: 20px;
    background-color: white;
    
}

.scrollbar{
    height: 290px;
}

button{
    margin-left: 10px;
}

.dialogue{    
    color: white;
    background-color: rgb(255, 157, 173, 0.75);
    padding: 30px;
    border-radius: 10px 10px 10px 0;
    margin-left: 60px;
    margin-bottom: 120px;
    position: absolute;
    left: 170px;
    bottom: 10px;
    padding: 15px;
    width: max-content;
    max-width: 200px;
}

.dialogue:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-right: 10px solid rgb(255, 157, 173, 0.75);
    border-left: 10px solid transparent;
    border-bottom: 10px solid rgb(255, 157, 173, 0.75);
    border-top: 10px solid transparent;
    position: absolute;
    left: -20px;
    bottom: 0;
}

@media screen and (min-width: 990px) {
    .pet-img {
        width: 200px;
        position: relative;
    }

    .pet{
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .health{
        position: absolute;
        top:100px;
        margin-left: 20px;
        width: 200px;
        background-color: rgba(255, 255, 255, 0.829);
        padding: 15px;
        border-radius: 20px;
        font-weight: bold;
        box-shadow: 0px 0px 10px grey;
        color: rgb(0, 164, 170);
    }
    .display{
        position: relative;
    }
}

@media screen and (max-width: 990px) {
    .pet-img {
        width: 150px;
        position: relative;
    }
    .pet img{
        margin-bottom: 40px;
    }
    .display{
        position: relative;
    }
    .dialogue{    
        color: white;
        background-color: rgb(255, 157, 173, 0.75);
        padding: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 10px;
        margin-left: 60px;
        margin-bottom: 120px;
        position: absolute;
        left: -120px;
        bottom: 30px;
        width: max-content;
        max-width: 200px;
        padding: 10px
    }
    .pet{
        /* align-items: flex-end;
        padding-bottom: 20px; */
        position: relative;
    }
    .dialogue:before {
        border-left: 10px solid transparent;
        border-right: 10px solid rgb(255, 157, 173, 0.75);
        border-bottom: 10px solid transparent;
        border-top: 10px solid rgb(255, 157, 173, 0.75);
        position: absolute;
        left: 25px;
        bottom: -20px;
    }
    .health{
        position: absolute;
        bottom: -40px;
        right: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 180px;
        background-color: rgba(255, 255, 255, 0.829);
        padding: 8px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 15px;
        font-weight: bold;
        box-shadow: 0px 0px 10px grey;
        color: rgb(0, 164, 170);
        font-size: 10px;
        z-index: 1;
    }
    .progress{
        height: 8px;
    }
}


.delete-icon, .edit-icon{
    visibility: hidden;
}

tbody:hover .delete-icon{
    visibility: visible;
}

tbody:hover .edit-icon{
    visibility: visible;
}
.delete-icon i{
    pointer-events: none;
}

.edit-icon i{
    pointer-events: none;
}

.part-b{
    padding-left: 30px;
    padding-right: 30px;
}

.feed{
    text-align: center;
    position: relative;
    margin: 0;
}

.feed-button{
    width: 100%;
    /* left: auto;
    right: auto; */
    margin-bottom: 20px;
    margin-left: 0;
    border-radius: 0;
    color: #333;
    box-shadow: 3px 2px 2px rgb(226, 139, 9);
    border: 1px solid orange;
}

.feed-button:hover {
    /* background-color: #5158E0; */
    position: relative;
    box-shadow: 0px 6px orange;
    top: 2px;
    /* box-shadow: 0 0 0 1px #163772 inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 5px 0 0      #333797,0 5px 0 1px rgba(0, 0, 0, 0.4),0 5px 8px 1px rgba(0, 0, 0, 0.5); */
}

.pad{
    margin-bottom: 20px;
}

.date-form{
    margin: 2px;
    flex: 4;
}

.date-select{
    display: flex;
    align-items: center;
    text-align: center;
}

.arrow-left{
    flex: 2;    
}

.arrow-right{
    flex: 2;
}

.date-select i {
    pointer-events: none;
}
@keyframes arrow {
    from {background-color: white;}
    to {background-color: rgb(236, 236, 236);}
  }
.arrow-left:hover {
    animation-name: arrow;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    border-radius: 100px;
}
.arrow-right:hover {
    animation-name: arrow;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    border-radius: 100px;
}

.record input{
    width: 100px;
}

.pet-grave {
    width: 350px;
    padding: 10px
}

/* .expense{
    color: red;
} */

.income{
    color: rgb(27, 187, 27);
}

.navbar-brand img{
    width: 150px;
    height: 50px;
}

.fa-ellipsis-v {
    color: #FFC964
}

.fa-ellipsis-v:active, .fa-ellipsis-v:focus {
    color: #06C4CE;
}

.btn-outline-success {
    background: #FFC964;
    border: none;
    border: solid 1px #FFC964;
    border-radius: 8px;
    margin: 4px;
    color: white;
}

.btn-outline-success:hover {
    color: #FFC964;
    background: #FFFFFF;
    border: solid 1px #FFC964;
    
}

.btn-outline-success:focus, .btn-outline-success:not(:disabled):not(.disabled):active {
    color: #FFFFFF;
    background-color: #ffa600;
    border-color: #ffa600;
    box-shadow: 0 0 0 0.2rem rgba(255, 166, 0, 0.5);
}

.coin{
    position: absolute;
    top: 10px;
    right: 15px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.904);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 1px lightgray;
}
.coin img{
    width: 30px;
}

.amount{
    text-align: center;
    font-weight: 700;
    color: rgb(255, 175, 83);
    font-size: 20px;
}

.dropdown{
    position: absolute;
    bottom: 3px;
    right: 3px;
    z-index: 1;
}

.btn-info{
    box-shadow: 2px 2px 1px rgb(58, 117, 150);
}

.btn-outline-success {
    box-shadow: 2px 2px 1px rgb(175, 112, 18)
}

.dropdown-cust{
    width: 300px;
}



.market{
    display: flex;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

h5{
    flex: 1;
    text-align: center;
    font-size: 18px;
}

.table-coin{
    position: absolute;
    right: 25px;
}

.pet-name{
    color: rgb(255, 183, 50);
    font-weight: 900;
    font-size: 18px;
}

hr{
   margin: 5px; 
}


#usernameDiv img  {
    border-radius: 50px;
    margin: 2px
}

#usernameDiv {
    margin: 0 10px 0 10px;
}