/* #description {
    background: yellow;
    height: 80vh;
} */

.notice-display{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(220, 220, 220, 0.4);

}

#notice{
    min-width:40vw;
    max-width:90vw;
    min-height:30vh;
    background: #c6ffdd; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFC964, #06C4CE); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,  #FFC964, #06C4CE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size:1.5rem;
    border: 3px solid navy;
}

.msgButton {
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color:#ffc477;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
}
.msgButton:hover {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	background-color:#fb9e25;
}
.msgButton:active {
	position:relative;
	top:1px;
}

#notice-msg{
    text-align:center;
    width:100%
}

#loginInFormDiv{
    box-sizing: border-box; 
    display:flex;
    align-items: center; 
    justify-content: center; 
    margin-bottom: 1rem;

} 

.card-body {
    background: rgb(236, 236, 236, 0.7);
    border-radius: 20px;
    padding: 10px;
    max-width:700px;
}

.card-body h2 {
    background: -webkit-linear-gradient(45deg, #06C4CE, #FFC964) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

html, body {
    min-height: 100%;
}


body{
    min-height: 100%;
    max-width: 100vw;
    background: linear-gradient(45deg, #FFC964 50%, #06C4CE 50%);
}

a{
    color: inherit;
}

#logo {
    max-height:90vh;
}


.cont{
    max-width:90vw;
    min-height:90vh;
    background-color: white;
    box-shadow: 0 0 30px grey;
    margin-top:5vh;
    box-sizing:content-box;
    padding:0;
    display:flex;
    flex-direction: column;
    Overflow: hidden;
}

.bigBox{
    display: flex;
    flex-grow: 1;
}

.console{
    width: 305px;
    background-color: #1fec90;
    padding: 30px;
    /* padding-left: 60px; */
    font-size: 20px;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

.bar{
    width: 100%;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler{
    border:0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* .content{
    flex: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
} */

@keyframes button {
    from {background-color: rgb(236, 236, 236);}
    to {background-color: white;}
}

#menu-toggle-div{
    font-size: 30px;
}


.hidden{
    display:none;
}

@media screen and (max-width: 768px) {
    .character {
        margin: 0 auto 0 auto !important;
    } 
    
    .text-body {
        height: auto !important;
        min-height:70px;
    } 
    /* .navbar {
        display: contents;
        justify-content: center;
        text-align: center;
    } */
}

@media screen and (max-width: 390px){
    .navbar-brand {
        flex-grow:1 !important;
    }

    #logo{
        display:block;
        margin: 0 auto;
    }

    .navbar-toggler{
        display:block;
        margin: 0 auto;
    }
} 
#menu-toggle-div{
    font-size: 30px;
    margin-right: 1rem;
}

.loginSection {
    background-image: url('./wallpaper-bg.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    min-height: 60vh;
    position: relative;
}

.aboutUsSection{
    background: 
    linear-gradient(180deg, rgba(248, 184, 139,0) 20%, rgba(248, 184, 139,.1) 20%, rgba(248, 184, 139,.1) 40%, rgba(248, 184, 139,.2) 40%, rgba(248, 184, 139,.2) 60%, rgba(248, 184, 139,.4) 60%, rgba(248, 184, 139,.4) 80%, rgba(248, 184, 139,.5) 80%),
    linear-gradient(45deg, rgba(250, 248, 132,.3) 20%, rgba(250, 248, 132,.4) 20%, rgba(250, 248, 132,.4) 40%, rgba(250, 248, 132,.5) 40%, rgba(250, 248, 132,.5) 60%, rgba(250, 248, 132,.6) 60%, rgba(250, 248, 132,.6) 80%, rgba(250, 248, 132,.7) 80%),
    linear-gradient(-45deg, rgba(186, 237, 145,0) 20%, rgba(186, 237, 145,.1) 20%, rgba(186, 237, 145,.1) 40%, rgba(186, 237, 145,.2) 40%, rgba(186, 237, 145,.2) 60%, rgba(186, 237, 145,.4) 60%, rgba(186, 237, 145,.4) 80%, rgba(186, 237, 145,.6) 80%),
    linear-gradient(90deg, rgba(178, 206, 254,0) 20%, rgba(178, 206, 254,.3) 20%, rgba(178, 206, 254,.3) 40%, rgba(178, 206, 254,.5) 40%, rgba(178, 206, 254,.5) 60%, rgba(178, 206, 254,.7) 60%, rgba(178, 206, 254,.7) 80%, rgba(178, 206, 254,.8) 80%),
    linear-gradient(-90deg, rgba(242, 162, 232,0) 20%, rgba(242, 162, 232,.4) 20%, rgba(242, 162, 232,.4) 40%, rgba(242, 162, 232,.5) 40%, rgba(242, 162, 232,.5) 60%, rgba(242, 162, 232,.6) 60%, rgba(242, 162, 232,.6) 80%, rgba(242, 162, 232,.8) 80%),
    linear-gradient(180deg, rgba(254, 163, 170,0) 20%, rgba(254, 163, 170,.4) 20%, rgba(254, 163, 170,.4) 40%, rgba(254, 163, 170,.6) 40%, rgba(254, 163, 170,.6) 60%, rgba(254, 163, 170,.8) 60%, rgba(254, 163, 170,.8) 80%, rgba(254, 163, 170,.9) 80%)
;
    background-color: #FFC964;
    background-size: 100% 100%;
    min-height: 60vh;
    position: relative;

}

.aboutUsBox{
    margin:1rem;
}

.aboutUsBox div {
    text-align: justify;
}

#aboutUsDescription{
    box-sizing: border-box; 
    display:flex;
    align-items: center; 
    justify-content: center; 
    margin-bottom: 1rem;
    padding: 10px
}

#aboutUsFeatures{
    box-sizing: border-box; 
    display:flex;
    align-items: center; 
    justify-content: center; 
    flex-wrap:wrap;
}

.featuresBox:hover{
    background-color:  rgba(255, 201, 100, 0.5);
}

.featuresDiv{
    width:100%;
}


.featuresBox{    
    min-height:100px;
    box-sizing: border-box; 
    margin: 0 10px 0 10px;
    padding: 10px;
    border-radius: 10px;
}

#description  {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

.contact{
    min-height:25vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.contactBox{
    background-color:rgba(243, 227, 9, 0.3);
    width:90%;
    height:95%;
    border-radius: 25px;
    text-align: center;
    padding: 5px;
}

.text-body {
    color: rgb(236, 236, 236) !important;
    background: rgb(6, 196, 206, 0.8);
    height: 100px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: dotted 3px #FFC964;
    margin-bottom:1rem;
    padding: 20px
} 

.btn-success {
    background: rgb(6, 196, 206);
    border: none;
    border: solid 1px rgb(6, 196, 206);
    margin: 4px 0 4px;
    border-radius: 8px;
}

.btn-success:hover {
    color: rgb(6, 196, 206);
    background: #FFFFFF;
    border: solid 1px rgb(6, 196, 206);
}

.btn-primary, .btn-outline-success {
    background: #FFC964;
    border: none;
    border: solid 1px #FFC964;
    border-radius: 8px;
    margin: 4px;
    color: white;
}

.btn-primary:hover, .btn-outline-success:hover {
    color: #FFC964;
    background: #FFFFFF;
    border: solid 1px #FFC964;
    
}

h5 {
    margin-top: 5px
}

.os-animation{
    opacity: 0;
}

.os-animation.animated{
    opacity: 1;
}
.btn-success:focus, .btn-success:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: rgb(6, 149, 206);
    border-color: rgb(6, 149, 206);
    box-shadow: 0 0 0 0.2rem rgb(6, 149, 206, 0.5);
}

.contactSection{
    background-image: linear-gradient(-225deg, #D4FFEC 0%, #06C4CE 48%, #4596FB 100%);
    min-height: 50vh;
    position: relative;

}

.form-check{
    display:flex;
    justify-content: space-between;
}

#aboutUs {
    color: #06C4CE;
    padding: 20px;
    
}

.featuresBox h3, .aboutUsBox h3 {
    background: -webkit-linear-gradient(45deg, #4596FB, #02f2ff) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-text {
    margin: 30px 0 30px 0;
    color: #FFFFFF
}

.contact-text h3 {
    background: -webkit-linear-gradient(45deg, #FFFFFF, #FFC964) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contactBox h5 {
    text-shadow: 2px 3px 1px #06C4CE;
}

.contactBox img {
    max-width: 110px;
    width: 30vw;
    border-radius: 60px;
}

#usernameDiv img  {
    border-radius: 50px;
    margin: 2px
}

#usernameDiv {
    margin: 0 10px 0 10px;
}