/* #loginInForm{
    background: red;
    height: 80vh;
    display:flex;
    align-items: center; 
    justify-content: center; 
}

.container {
    background-color: white;
    text-align:center;
} */
html, body {
    min-height: 100%;
}


body{
    min-height: 100%;
    max-width: 100vw;
    background: linear-gradient(45deg, #FFC964 50%, #06C4CE 50%);
    color: #FFFFFF;
}

a{
    color: inherit;
}


.cont{
    max-width:90vw;
    min-height:90vh;
    background-color: white;
    box-shadow: 0 0 30px grey;
    margin-top:5vh;
    box-sizing:content-box;
    padding:0;
    display:flex;
    flex-direction: column;
    Overflow: hidden;
}



.bar{
    width: 100%;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler{
    border:0px;
}



@keyframes button {
    from {background-color: rgb(236, 236, 236);}
    to {background-color: white;}
}

#menu-toggle-div{
    font-size: 30px;
}


.hidden{
    margin-left: -305px;
}

@media screen and (max-width: 768px) {
    .character {
        margin: 0 auto 0 auto !important;
    }  
    .navbar {
        display: contents;
        justify-content: center;
        text-align: center;
    }
}

#menu-toggle-div{
    font-size: 30px;
    margin-right: 1rem;
}

#logo {
    max-height:90vh;
}

.cont > .container-fluid {
    background-image: url('./wallpaper-bg.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    min-height: 60vh;
    display: flex;
    justify-content: center;
}


#loginInForm {
    background: linear-gradient(45deg, rgb(6, 196, 206, 0.85), rgb(255,201,100, 0.85));
    border: solid thick rgb(255, 215, 83);
    margin: 7px 0 7px;
    border-radius: 20px;
    padding: 7px;
}

#submit {
    background: #FFC964;
    border: none;
    border: solid 1px #FFC964;
    border-radius: 5px;
    margin: 4px 0 4px;
    color: #FFFFFF;
    padding: 5px;
}

#submit:hover {
    color: #FFC964;
    background: #FFFFFF;
    border: solid 1px #FFC964;
    
}

.form{
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-top: 10px;
}
